#divbody{
	background-image: url(../img/bgGrass.jpg);
}

#divbody body{
	width: 80%;
	height: 100%;
}

#header{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	font-size: 15px;
	font-family: Palatino Linotype, Trebuchet MS, sans-serif;
	background: #eee url(../img/bgGrass.jpg) no-repeat top center;
	overflow: hidden;
}

#header p{
	font-family: Palatino Linotype, Trebuchet MS, sans-serif;
	font-size: 12px;
}

#header br{
	margin-top: 40px;
}

#wrapinner{
	clear: both;
	margin: 0 auto;
	width: 980px;
	padding-top: 121px;
}

#navcontainer{
	clear: both;
	width: 945px;
	margin: 0 0 0 17px;
	height: 39px;
	background: url(../img/nav.png) repeat;
}

#navcontainer ul{
	float: left;
	width: auto;
	height: 39px;
	margin: 0;
	padding: 0;
}

#navcontainer ul li{
	float: left;
	width: auto;
	position: relative;
}

#navcontainer li a{
	padding-top: 14px;
	padding-right: 10px;
	padding-left: 10px;
	display: block;
	float: left; 
	width: auto; 
	height: 39px;  
	display: block;  
	color: #FFF;  
	line-height: 16px;  
	position: relative;
	text-decoration: none;
}

#navcontainer li a:hover{
	color: #CC0033;
}

#navcontainer a.active{
	color: #CC0033;
}

#contsWrap{
	clear: both;
	width: 960px;
	padding: 0 0 20px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

#contsIn{
	clear: both;
	width: 945px;
	padding: 0px 0 33px 15px;
	background-color: #303030;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

#mainfeature{
	clear: both;
	width: 972px;
	height: 332px;
	border: 4px solid #000;
	overflow: hidden;
	position: relative;
	background-color: #000000;
	margin-left: auto;
	margin-right: auto;
}

#leftcol{
	float: left;
	width: 300px;
	margin: 15px 16px 0 0;
	overflow: hidden;
}

#rightcol{
	float: left;
	width: 629px;
	overflow: hidden;
}

#rightcol br{
	margin-top: 1px;
}

#histdesc{
	margin-top: -20px;
	width: 280;
	background-color: white;
}

#histdesc a{
	background-color: #484848;
	text-decoration: none;
	color: white;
	font-weight: bold;
}

#histdesc a:hover{
	background-color: #00CCFF;
}

#facebook{
	margin-top: 15px;
	width: 300px;
	height: 222px;
}

#histcontainer{
	clear: both;
	width: 945px;
	height: 600px;
	padding: 0px 0 33px 15px;
	background-color: #303030;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

#histcontainer p{
	color: white;
	font-size: 14px;
	font-family: arial;
}

#histcontainer br{
	margin-top: 1px;
}

#aboutcontainer{
	clear: both;
	width: 945px;
	height: 600px;
	padding: 0px 0 33px 15px;
	background-color: #303030;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

#aboutcontainer p{
	color: white;
	font-size: 14px;
	font-family: arial;
}

#aboutcontainer br{
	margin-top: 1px;
}

#sitebody{
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	background-color: white;
	font-family: Georgia;
	opacity: 0.9;
}


#sitebody p{
	font-size: 15px;
}

#sitebody p#error{
	font-size: 15px;
	color: Red;
}

#sitebody br{
	margin-top: 7px;
}


#footer{
	width: 800px;
	height: 30px;
	background-color:black;
	opacity: 0.5;
}

#memberprofile{
	background-color: black;
	color: #FFA500;
	text-align: center;
	font-size: large;
	font-family: Lucida Console, Verdana, Arial;
}

#messagecontent{
	color: black;
	text-align: center;
	font-size: small;
	font-family: Verdana, Arial, Lucida Console;
}

#postbody{
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	height: relative;
	background-color: white;
	font-family: Georgia;
	opacity: 0.9;
}

#desc{
	background-color: #282828;
}

#desc a{
	background-color: #484848;
	text-decoration: none;
	color: white;
	font-weight: bold;
}

#desc a:hover{
	background-color: #00CCFF;
}

#desc br{
	margin-top: 1px;
}

#p_date{
	width: 950px;
	border-style: solid; 
	border-width: medium;
	border-color: black;
}

#postreply{
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	background-color: white;
	font-family: Georgia;
	opacity: 0.9;
	color: white;
}

#titlelogin{
	width: 950px;
	height: 80px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	opacity: 0.6;
	color: orange;
	font-size: 27px;
	font-family: Serif, Georgia, Lucida;
}

#titlelogin p{
	color: red;
	font-size: 15px;
	font-family: Serif, Georgia, Lucida;
	margin-left: auto;
	margin-right: auto;
}


#titlelogin label{
	color: black;
	font-size: 15px;
	font-family: Serif, Georgia, Lucida;
}

#footer{
	clear: both;
	width: 960px;
	overflow: hidden;
	height: 47px;
	background: #0D0D0D;
	font-family: arial;
	margin-left: auto;
	margin-right: auto;
}

#footer p{
	clear: both;
	width: auto;
	float: left;
	width: auto;
	padding: 15px 0 0 18px;
	margin: 0;
	font-size: 11px;
	color: #444444;
	line-height: 16px;
}

#footer ul{
	float: right;
	width: auto;
	text-align: right;
	margin: 0;
	padding: 0 10px 0 0;
	list-style: none;
}

#footer li{
	float: left;
	padding: 15px 0 0 7px;
	font-size: 11px;
	color: #444;
	line-height: 16px;
}

#footer a{
	text-decoration: none;
	color: #444;
}

#logincontainer{
	clear: both;
	width: 945px;
	height: 600px;
	padding: 0px 0 33px 15px;
	background-color: white;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

#regcontainer{
	clear: both;
	width: 945px;
	height: 800px;
	padding: 0px 0 33px 15px;
	background-color: white;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}
