#header{
	margin-top: 10px;
	margin: 0px auto;
	width: 1400px;
	height: 849px;
	font-size: 15px;
	font-family: Palatino Linotype, Trebuchet MS, sans-serif;
	background-image: url(../img/wallpaper2.jpeg);
}

#header p{
	font-family: Palatino Linotype, Trebuchet MS, sans-serif;
	font-size: 12px;
}

#header br{
	margin-top: 40px;
}

#navcontainer{
	margin-left: auto;
	margin-right: auto;
	width: 850px;
}

#navcontainer ul{
	padding: 5px;
	list-style-type: none;
	font-size: 15px;
	background-color: white;
	opacity: 0.4;
	font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
}

#navcontainer ul li { display: inline; }

#navcontainer ul li a{
	text-decoration: none;
	padding: .2em 1em;
	color: #382D2C;
}

#navcontainer ul li a:hover{
	color: #800000;
	background-color: #369;
}

#sitebody{
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	background-color: white;
	font-family: Georgia;
	opacity: 0.9;
}


#sitebody p{
	font-size: 15px;
}

#sitebody p#error{
	font-size: 15px;
	color: Red;
}

#sitebody br{
	margin-top: 7px;
}


#footer{
	width: 800px;
	height: 30px;
	background-color:black;
	opacity: 0.5;
}

#memberprofile{
	background-color: black;
	color: #FFA500;
	text-align: center;
	font-size: large;
	font-family: Lucida Console, Verdana, Arial;
}

#messagecontent{
	color: black;
	text-align: center;
	font-size: small;
	font-family: Verdana, Arial, Lucida Console;
}

#postbody{
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	height: relative;
	background-color: white;
	font-family: Georgia;
	opacity: 0.9;
}

#p_date{
	width: 950px;
	border-style: solid; 
	border-width: medium;
	border-color: black;
}

#postreply{
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	background-color: white;
	font-family: Georgia;
	opacity: 0.9;
	color: white;
}

#titlelogin{
	width: 950px;
	height: 80px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	opacity: 0.6;
	color: orange;
	font-size: 27px;
	font-family: Serif, Georgia, Lucida;
}

#titlelogin p{
	color: red;
	font-size: 15px;
	font-family: Serif, Georgia, Lucida;
	margin-left: auto;
	margin-right: auto;
}


#titlelogin label{
	color: black;
	font-size: 15px;
	font-family: Serif, Georgia, Lucida;
}
