{% extends "base.html" %}
{% block title %}Jazzistas de Davao Forum Page{% endblock %}
{% block titlelogin %}
	JAZZISTAS DE DAVAO FORUM
	{% if profile %}
		<p>Welcome {{ profile.complete_name }}&nbsp;&nbsp;&nbsp;&nbsp;<a href='/forum/logout/' style='text-decoration:none;'>Log-out</a></p>
	{% else %}
		<form method="POST" action="/forum/">{% csrf_token %}
			<label>Username:</label><input type="text" name="username">
			<label>Password:</label><input type="password" name="password">
			<input type="submit" value="Log-in">
			{% if error %}
			<font color="red" size="3">{{ error }}</font>
			{% endif %}
		</form>
	{% endif %}
{% endblock %}
{% block sitebody %}
	<table>
		{% for type in types %}
			<tr bgcolor="#566D7E">
				<td colspan=4 style="text-align:center;"><font color="#880000">{{ type }}</font></a></td>
			</tr>
			<tr>
				<td width="250"><center>Forum</center></td>
				<td width="100"><center>Threads</center></td>
				<td width="100"><center>Posts</center></td>
				<td width="200"><center>Last Post</center></td>
			</tr>
			{% for subject in type.subject_set.all %}
				<tr>
					<td width="250"><a href="{% url forum.views.forum_subject subject.slug %}" style="text-decoration:none"><font color="#880000">{{ subject }}</font></td>
					<td width="100" style="text-align:center;">{{ subject.topic_set.all.count }}</td>
					<td width="100" style="text-align:center;">{{ subject.postcount }}</td>
					<td width="200" style="text-align:center;">{{ subject.lastpostdate }}</td>
				</tr>
			{% endfor %}
		{% endfor %}
	</table>
{% endblock %}

