{% extends "mainbase.html" %}
{% block li5 %}
	{% if profile %}
	<a href="/users/logout"><span>&nbsp;&nbsp;&nbsp;LOGOUT&nbsp;<font color="red">{{ profile.user.username }}</font></span></a>
	{% else %}
	<a href="/users/login"><span>&nbsp;&nbsp;&nbsp;LOGIN/SIGNUP</span></a>
	{% endif %}
{% endblock %}
{% block contsWrap %}
	<div id="histcontainer"><br/>
		<p>Jazzistas de Davao was officially launched in Aug. 14, 2011. The main founders and the brains of Jazzistas
		are Davao's very own Bogs Serrano and Enrico Dalisay. As both of them studied and took experience from abroad,
		Jazzistas de Davao's ideals and goals are not new.</p><br/>
		<p style="color:black;">August 20-21, 2011: First ever Davao Jazz Festival was Jazzistas de Davao's first major project
		and was a hugh success. It was held in Bogsers by the Beach. The Davao Jazz Festival is the first of its kind in Davao which will be
		done annually.</p><br/>
		<p style="color:black;">December 2-3, 2011: Jazz Live Under the Stars was held in Robinson's Club House. This special event
		features the legendary international jazz artist Boy Katindig. In his first concert here in Davao City, Boy Katindig and Jazzistas de Davao
		made all of these possible as it is rare for an international artist to play in Davao City!</p>
	</div>
{% endblock %}
