{% extends "mainbase.html" %}
{% block title %}
	Jazzistas de Davao Gallery
{% endblock %}
{% block li5 %}
	{% if profile %}
	<a href="/users/logout"><span>&nbsp;&nbsp;&nbsp;LOGOUT&nbsp;<font color="red">{{ profile.user.username }}</font></span></a>
	{% else %}
	<a href="/users/login"><span>&nbsp;&nbsp;&nbsp;LOGIN/SIGNUP</span></a>
	{% endif %}
{% endblock %}
{% block contsWrap %}
	<div id="forumcontent"><br/>
		{% if gallery %}
			{% for g in gallery %}
				<a href="{% url album.views.view_gallery g.slug %}" style="text-decoration:none">{{ g.title }}</a><br/>{{ g.desc }}<br/><br/>
			{% endfor %}
		{% else %}
		<p>No albums yet!&nbsp;<a href="/album/add/" style="text-decoration:none; font-size:15">Add albums</a></p>
		{% endif %}
	</div>
{% endblock %}
