{% extends "mainbase.html" %}
{% block title %}
	Jazzistas de Davao - a collective of Jazz musicians & enthusiasts
{% endblock %}
{% block li1 %}
	<a class="active" href="/main/"><span>HOME</span></a>
{% endblock %}
{% block li5 %}
	{% if profile %}
	<font color="red">&nbsp;&nbsp;&nbsp;{{ profile.user.username }}</font>
	{% else %}
	<a href="/users/login"><span>&nbsp;&nbsp;&nbsp;LOGIN/SIGNUP</span></a>
	{% endif %}
{% endblock %}
{% block contsWrap %}
	<div id="contsIn">
		<div id="leftcol">
			<div class="span-6">
				<img src="/media/img/jazzlogo.png">
			</div>
			<div class="span-18">
				<h2 style="font-size: 40px; font-weight: bold; color: 00CCFF; font-family: arial-black;">LIVE IT!</h2>
			</div>
			<div id="desc" class="span-8"><br/>
				<p style="font-size: 11px;"><font color="#CCC">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We are here to sing our souls to freedom.</font>
				<br/><font color="#686868">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We are here to love the music.</font><br/><font color="#CCC">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We are here to play.</font><br/><font color="#686868">&nbsp;&nbsp;&nbsp;&nbsp;
				We are here to sing.</font><br/><font color="#CCC">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We are here to make love.</font><br/>
				<font color="#686868">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We are here to inspire.</font><br/><br/><font color="#686868">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Regardless of your skills, who you are, how much<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;money 
				you have, where you come from or where you<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;are going, music binds US ALL together.</font>
				<font color="#CCC">Breath it and<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Live it</font><br/><br/>&nbsp;&nbsp;&nbsp;&nbsp;
				<font color="#686868">This is not our song but an song by God who wants<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;nothing
				but happiness and love for everyone and<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;everything.<br/><br/>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Jazzistas de Davao was officially launched in Aug 14 ,<br/>&nbsp;&nbsp;&nbsp;&nbsp;
				2011. Its 1st project created was the "1st Davao Jazz<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Festival" 
				on Aug 20 & 21, a two day festival in tandem<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;with Davao's "Kadayawan" festival.
				</font><br/><br/><font color="#CCC">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We are a membership framework in which business
				<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;owners, artists and enthusiasts are linked thru an<br/>&nbsp;&nbsp;&nbsp;
				&nbsp;alliance</font><br/><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/main/about">&nbsp;READ MORE&nbsp;</a></p>
			</div>
			<div id="facebook" class="span-12">
				<a href="http://www.facebook.com/pages/Jazzistas-de-Davao/227753493942560"><img src="/media/img/like_us.png"></a>
			</div>
		</div>
		<div id="rightcol">
			<div class="span-9">
				<h2 style="font-size: 40px; font-weight: bold; color: 00CCFF; font-family: arial-black;">HISTORY</h2>
			</div>
			<div id="histdesc" class="span-2"><br/>
				<font size="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Jazzistas de Davao was founded by 
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;prominent Jazz musicians, &nbsp;&nbsp;names<br/>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;like Bogs Serrano, &nbsp;&nbsp;&nbsp;Enrico Dalisay,
				<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Benny Echavia, Raul Tolentino, and<br/>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;many more.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				Jazzistas de Davao<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;started last 2010
				with hopes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;of<br/>&nbsp;
				&nbsp;&nbsp;&nbsp;spreading jazz throughout Mindanao<br/>&nbsp;
				&nbsp;&nbsp;&nbsp;especially in Davao.</font><br/><br/>&nbsp;&nbsp;&nbsp;
				<a href="/main/history">READ MORE</a>
				<br/><br/>
			</div>
		</div>
	</div>
{% endblock %}
